:root{
    --primario2:#cb9b51;
    --primario3:#d2b26a;
    --primario4:#f6e27a;
    --primario5:#fff23e; 
    --negro:#000000;
    --blanco:#ffffff;
    --fuente-principal:"tangerine",cursive; 
    --fuente-secundaria:"monserrat",arial;      
}
/*Generales*/
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem= 10px */
}

* ,*:before, *:after {
    box-sizing: inherit;

}

html{
    background-color: black;
    font-family: var(--fuente-principal, monserrat,arial);
    text-align: center;
    color:#ffffff

}
/* Navegacion*/
.navegacion{
    display: flex;
    justify-content:space-evenly;
    font-family: var(--fuente-secundaria);
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem;
    
}

@media(width < 750px) {
    .navegacion{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
 }

a{
    text-decoration: none;
    color:#ffffff;
    padding: 1rem;
}

.navegacion a:hover{
    color: #000000;
    text-decoration: none;
    background: linear-gradient(#AC8152,#cb9b51,#d2b26a,#f6e27a);
    border-radius: 2rem;

}
h1{
    font-family: var(--fuente-principal);
    padding: 1.5rem;
    text-align: center;
    margin: 0 auto;
    color: #AC8152;
    font-size: 9rem;
}
h3{
    font-size: 5rem;
}
.logo{
    width: 300px;
    height: 300px;
    margin-top: 5rem;
}
@media(width < 750px) {
    .logo {
        width: 70%;
        height: 70%;
    }
}
/*Redes sociales*/
.redes_sociales a{
    display: flex;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
}

/* Footer*/
footer{
    text-align: center;
    font-family: var(--fuente-secundaria);
    font-size: 2rem;
    margin-top: 4rem;
}