:root{
    --primario2:#cb9b51;
    --primario3:#d2b26a;
    --primario4:#f6e27a;
    --primario5:#fff23e; 
    --negro:#000000;
    --blanco:#ffffff;
    --fuente-principal:"tangerine",cursive; 
    --fuente-secundaria:"monserrat",arial;      
}
/*Generales*/
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem= 10px */
}

* ,*:before, *:after {
    box-sizing: inherit;

}

body{
    background-color: #000000;
    color: #ffffff;
}
/*textos*/
h1{
    font-family: var(--fuente-principal);
    padding: 1.5rem;
    text-align: center;
    margin: 0 auto;
    color: #AC8152;
    font-size: 9rem;
 
}
h2{
    font-family: var(--fuente-principal);
    font-size: 7rem;
    text-align: center;
    color: #AC8152;
}

/*Navegacion*/

.navegacion{
    display: flex;
    justify-content: space-around;
    font-family: var(--fuente-secundaria);
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem;
    
}
 @media(width < 750px) {
    .navegacion{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
     
 }
a{
    text-decoration: none;
    color:#ffffff;
    padding: 1rem;
}

.navegacion a:hover{
    color: #000000;
    text-decoration: none;
    background: linear-gradient(#AC8152,#cb9b51,#d2b26a,#f6e27a);
    border-radius: 2rem;

}
.logo{
    display:flex;
    box-sizing: border-box;
    width: 40rem;
    height: 40rem;
    margin-top: 14rem;
    margin-left: 5rem;
    
}
.contenedor{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
}
.contenedor_1{
    width: 50%;
    height: 50%;
}
@media(width < 750px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        
    }
    .contenedor img {
        width: 70%;
        height: 70%;
    }
    .contenedor_1 {
        width: 90%;
        text-align: center;
        text-align: justify;
        margin: 2rem auto;
    }
    
}
.titulo{
    text-align: center;
}
/* imagenes*/
section{
    display: flex;
    width: 800px;
    height: 630px;
    margin-left: 25rem;
    margin-right: 10rem;
    margin-top: 10rem;
    margin:auto;
}
section img{
    width: 0px;
    flex-grow:1 ;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: auto;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

@media(width < 750px){
    section{
        width: 200px;
        height: 200px;
    }
    
}

footer{
    text-align: center;
    font-family: var(--fuente-secundaria);
    font-size: 2rem;
    margin-top: 4rem;
}